{{template "partials/header" .}}

<main>
  <div class="hero-container">
    <div class="hero">
      <h1>{{.Title}}</h1>
      <p>{{.Description}}</p>
      {{ if .currentUser }}
      <a class="btn" href="/notes">Ver Notas</a>
      {{ else }}
      <a class="btn" href="/auth/login">Iniciar Sesión</a>
      <a class="btn-secondary" href="/auth/register">Registrarse</a>
      {{ end }}
    </div>
    <div class="hero-image">
      <img src="/images/hero-image.png" alt="Hero Image" />
    </div>
  </div>
</main>

{{template "partials/footer" .}}
