{{template "partials/header" .}}

<main>
  <div>
    <h1>{{.Title}}</h1>

    <button id="openModal" class="btn">Nueva Nota</button>
  </div>

  <div class="notes-container">
    {{if .Notes}} {{range .Notes}}
    <div class="note">
      <h3>{{.Title}}</h3>
      <p>{{.Content}}</p>
      <div>
        <a href="/notes/{{.ID}}" class="btn-red">Eliminar</a>
        <!-- <a href="/notes/edit/{{.ID}}" class="btn">Editar</a> -->
      </div>
    </div>
    {{end}} {{else}}
    <p>No hay notas disponibles.</p>
    {{end}}
  </div>
</main>

<!-- Modal -->
<dialog id="myModal" closeby="any">
  <h2>Crea nueva Nota</h2>
  <form action="" method="post" class="modal-form">
    <label for="title"
      >Título:
      <input type="text" name="title" id="title" required />
    </label>
    <br />
    <label for="content"
      >Contenido:
      <textarea name="content" id="content" required rows="5"></textarea>
    </label>
    <br />

    <div>
      <button type="submit" class="btn">Guardar</button>
      <button type="button" id="closeModal" class="btn-secondary">
        Cerrar
      </button>
    </div>
  </form>
</dialog>
{{template "partials/footer" .}}

<script src="scripts/modal.js"></script>
