/* inter-latin-wght-normal */
@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-main: #20b03f;
    --color-main-dark: #188a32;
    --color-main-light: #a8e6b8;

    --color-dark: #333;
    --color-light: #f9f9f9;

    --color-red: #f92626;
    --color-red-dark: #cc0000;

    --color-blue: #007bff;
    --color-blue-dark: #0056b3;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

body {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-dark);
    background-color: var(--color-light);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: var(--color-main-light);
    color: var(--color-dark);
    padding: 15px 10px;
    border-bottom: 1px solid var(--color-main);
}

header nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-main-dark);
}

header nav a {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: 600;
    padding: 0 8px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
    color: var(--color-main-dark);
}

nav .menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .menu .user {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color-dark);
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid var(--color-main);
}


/* Utilidades
============================================*/

.btn {
    all: unset;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-main-dark);
    color: var(--color-light);
}

.btn-secondary {
    all: unset;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--color-main);
    color: var(--color-main-dark);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--color-main-light);
    color: var(--color-dark);
}

.btn-red {
    all: unset;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-red);
    color: var(--color-light);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-red:hover {
    background-color: var(--color-red-dark);
}

.error {
    background-color: var(--color-red);
    color: var(--color-light);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

}

/* Estilos para Hero
============================================*/
img {
    width: 100%;
}

.hero-container {
    display: grid;
    gap: 10px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.hero-container img {
    width: 95%;
    max-width: 70%;
}

/*Para autenticación y los forms
============================================*/

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-auth img {
    max-width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input {
    all: unset;
    padding: 10px;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: var(--color-light);
    transition: border-color 0.3s;
    cursor: text;
}

textarea {
    all: unset;
    padding: 10px;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: var(--color-light);
    transition: border-color 0.3s;
    cursor: text;
}

/*Estilos para notas
============================================*/
.notes-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border: var(--color-main) solid 2px;
    border-radius: 10px;
    margin-top: 40px;
}

.note {
    display: grid;
    padding: 20px;
    background-color: var(--color-main-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    align-content: space-between;
}

.note h3 {
    margin: 0;
}

/*Estilos para  dialog
============================================*/
dialog {
    background-color: var(--color-light);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: var(--color-main) solid 2px;
    width: 97%;
    max-width: 500px;
}

dialog .modal-form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    max-width: 100%;
}

/* Footer
============================================*/
footer {
    background-color: var(--color-main);
    color: var(--color-light);
    padding: 20px;
    text-align: center;
}